{% extends 'uke_generator/base.html' %}

{% load uke_gen_extras %}

{% block content %}



<div class="create-schedule container-fluid">
    <div class="row">
        <div class="menu col">
            <div class="row">
                <div class="form-floating m-2 p-0">
                    <select  id="course-select" class="form-select">
                        <option value="" selected disabled>-</option>
                        {% for course in courses %}
                        <option value="{{ course }}">{{ course }}</option>
                        {% endfor %}
                    </select>
                    <label for="course-select">Linje</label>
                </div>
            </div>
            <div class="row">
                <div class="card m-2">
                    <div class="card-body">
                        <h5 class="card-title">Rekkefølge på tekst</h5>
                        <ul class="list-group" id="sortable-text-order">
                            <li class="list-group-item ps-0 pe-0" id="text-order-subject">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-5">
                                            <p id="para-order-subject" class="mb-0 text-center fs-5">Fag</p>
                                        </div>
                                        <div class="col-3">
                                            <input type="range" class="form-range align-middle" id="text-size-input-subject" min="10" max="14">
                                        </div>
                                        <div class="col-1 d-flex align-items-center justify-content-center">
                                            <p class="mb-0 text-center" id="text-size-subject">12</p>
                                        </div>
                                        <div class="col p-0 d-flex justify-content-center">
                                            <input type="checkbox" class="btn-check" id="bold-check-subject">
                                            <label for="bold-check-subject" class="btn btn-outline-dark fw-bold">F</label>
                                        </div>
                                        <div class="col p-0 d-flex justify-content-center">
                                            <input type="checkbox" class="btn-check" id="italic-check-subject">
                                            <label for="italic-check-subject" class="btn btn-outline-dark fst-italic">K</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item ps-0 pe-0" id="text-order-teacher">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-5">
                                            <p id="para-order-teacher" class="mb-0 text-center fs-5">Lærer</p>
                                        </div>
                                        <div class="col-3">
                                            <input type="range" class="form-range align-middle" id="text-size-input-teacher" min="10" max="14">
                                        </div>
                                        <div class="col-1 d-flex align-items-center justify-content-center">
                                            <p class="mb-0 text-center" id="text-size-teacher">12</p>
                                        </div>
                                        <div class="col p-0 d-flex justify-content-center">
                                            <input type="checkbox" class="btn-check" id="bold-check-teacher">
                                            <label for="bold-check-teacher" class="btn btn-outline-dark fw-bold">F</label>
                                        </div>
                                        <div class="col p-0 d-flex justify-content-center">
                                            <input type="checkbox" class="btn-check" id="italic-check-teacher">
                                            <label for="italic-check-teacher" class="btn btn-outline-dark fst-italic">K</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item ps-0 pe-0" id="text-order-room">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-5">
                                            <p id="para-order-room" class="mb-0 text-center fs-5">Rom</p>
                                        </div>
                                        <div class="col-3">
                                            <input type="range" class="form-range align-middle" id="text-size-input-room" min="10" max="14">
                                        </div>
                                        <div class="col-1 d-flex align-items-center justify-content-center">
                                            <p class="mb-0 text-center" id="text-size-room">12</p>
                                        </div>
                                        <div class="col p-0 d-flex justify-content-center">
                                            <input type="checkbox" class="btn-check" id="bold-check-room">
                                            <label for="bold-check-room" class="btn btn-outline-dark fw-bold">F</label>
                                        </div>
                                        <div class="col p-0 d-flex justify-content-center">
                                            <input type="checkbox" class="btn-check" id="italic-check-room">
                                            <label for="italic-check-room" class="btn btn-outline-dark fst-italic">K</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card m-2">
                    <div class="card-body">
                        <h5 class="card-title">Lærere</h5>
                        <div class="container m-0 p-0" id="teacher-container">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="preview-container col-8">
            <table class="schedule-preview">
                <tr class="schedule-preview__info-row">
                    <td class="schedule-preview__info-cell" colspan="6">
                        Info for uken:
                    </td>
                </tr>
                <tr class="schedule-preview__header-row">
                    <th></th>
                    <th class="schedule-preview__header-cell">Mandag dd.mm</th>
                    <th class="schedule-preview__header-cell">Tirsdag dd.mm</th>
                    <th class="schedule-preview__header-cell">Onsdag dd.mm</th>
                    <th class="schedule-preview__header-cell">Torsdag dd.mm</th>
                    <th class="schedule-preview__header-cell">Fredag dd.mm</th>
                </tr>
                <tr class="schedule-preview__first-row" id="row-1">
                    <td class="text-center">08:10-08:55</td>
                    {% for i in 5|repeat %}
                    <td class="schedule-preview__period" id="td-p1-d{{ forloop.counter }}"><button id="btn-p1-d{{ forloop.counter }}" class="period-btn" type="button" data-bs-toggle="modal" data-bs-target="#specifyPeriodModal" onclick="window.prepare_modal(1, {{ forloop.counter }})"><p id="default-p1-d{{ forloop.counter }}">1. Time</p></button></td>
                    {% endfor %}
                </tr>
                <tr class="schedule-preview__second-row" id="row-2">
                    <td class="text-center">08:55-09:40</td>
                    {% for i in 5|repeat %}
                    <td class="schedule-preview__period" id="td-p2-d{{ forloop.counter }}"><button id="btn-p2-d{{ forloop.counter }}" class="period-btn" type="button" data-bs-toggle="modal" data-bs-target="#specifyPeriodModal" onclick="window.prepare_modal(2, {{ forloop.counter }})"><p id="default-p2-d{{ forloop.counter }}">2. Time</p></button></td>
                    {% endfor %}
                </tr>
                <tr class="schedule-preview__recess-row">
                    <td class="text-center">09:40-10:00</td>
                    <td class="schedule-preview__recess-cell" colspan="5">Pause</td>
                </tr>
                <tr class="schedule-preview__first-row" id="row-3">
                    <td class="text-center">10:00-10:45</td>
                    {% for i in 5|repeat %}
                    <td class="schedule-preview__period" id="td-p3-d{{ forloop.counter }}"><button id="btn-p3-d{{ forloop.counter }}" class="period-btn" type="button" data-bs-toggle="modal" data-bs-target="#specifyPeriodModal" onclick="window.prepare_modal(3, {{ forloop.counter }})"><p id="default-p3-d{{ forloop.counter }}">3. Time</p></button></td>
                    {% endfor %}
                </tr>
                <tr class="schedule-preview__second-row" id="row-4">
                    <td class="text-center">10:45-11:30</td>
                    {% for i in 5|repeat %}
                    <td class="schedule-preview__period" id="td-p4-d{{ forloop.counter }}"><button id="btn-p4-d{{ forloop.counter }}" class="period-btn" type="button" data-bs-toggle="modal" data-bs-target="#specifyPeriodModal" onclick="window.prepare_modal(4, {{ forloop.counter }})"><p id="default-p4-d{{ forloop.counter }}">4. Time</p></button></td>
                    {% endfor %}
                </tr>
                <tr class="schedule-preview__recess-row">
                    <td class="text-center">11:30-12:00</td>
                    <td class="schedule-preview__recess-cell" colspan="5">Lunsjpause</td>
                </tr>
                <tr class="schedule-preview__first-row" id="row-5">
                    <td class="text-center">12:00-12:45</td>
                    {% for i in 5|repeat %}
                    <td class="schedule-preview__period" id="td-p5-d{{ forloop.counter }}"><button id="btn-p5-d{{ forloop.counter }}" class="period-btn" type="button" data-bs-toggle="modal" data-bs-target="#specifyPeriodModal" onclick="window.prepare_modal(5, {{ forloop.counter }})"><p id="default-p5-d{{ forloop.counter }}">5. Time</p></button></td>
                    {% endfor %}
                </tr>
                <tr class="schedule-preview__second-row" id="row-6">
                    <td class="text-center">12:45-13:30</td>
                    {% for i in 5|repeat %}
                    <td class="schedule-preview__period" id="td-p6-d{{ forloop.counter }}"><button id="btn-p6-d{{ forloop.counter }}" class="period-btn" type="button" data-bs-toggle="modal" data-bs-target="#specifyPeriodModal" onclick="window.prepare_modal(6, {{ forloop.counter }})"><p id="default-p6-d{{ forloop.counter }}">6. Time</p></button></td>
                    {% endfor %}
                </tr>
                <tr class="schedule-preview__recess-row">
                    <td class="text-center">13:30-13:40</td>
                    <td class="schedule-preview__recess-cell" colspan="5">Pause</td>
                </tr>
                <tr class="schedule-preview__first-row" id="row-7">
                    <td class="text-center">13:40-14:25</td>
                    {% for i in 5|repeat %}
                    <td class="schedule-preview__period" id="td-p7-d{{ forloop.counter }}"><button id="btn-p7-d{{ forloop.counter }}" class="period-btn" type="button" data-bs-toggle="modal" data-bs-target="#specifyPeriodModal" onclick="window.prepare_modal(7, {{ forloop.counter }})"><p id="default-p7-d{{ forloop.counter }}">7. Time</p></button></td>
                    {% endfor %}
                </tr>
                <tr class="schedule-preview__second-row" id="row-8">
                    <td class="text-center">14:25-15:10</td>
                    {% for i in 5|repeat %}
                    <td class="schedule-preview__period" id="td-p8-d{{ forloop.counter }}"><button id="btn-p8-d{{ forloop.counter }}" class="period-btn" type="button" data-bs-toggle="modal" data-bs-target="#specifyPeriodModal" onclick="window.prepare_modal(8, {{ forloop.counter }})"><p id="default-p8-d{{ forloop.counter }}">8. Time</p></button></td>
                    {% endfor %}
            </table>
        </div>
    </div>

    <div class="modal fade" id="specifyPeriodModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Fag, rom og detaljer</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <input type="hidden" id="modal-active-period">
                <div class="modal-body" id="specifyPeriodModalContent">
                    <div class="form-check form-switch" id="modal-double-period-form">
                        <input type="checkbox" role="switch" class="form-check-input" id="period-is-double">
                        <label for="period-is-double" class="form-check-label">Dobbeløkt</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="modal_room_input">
                        <label for="modal_room_input">Rom</label>
                    </div>
                    <div id="modal-course-container"></div>
                    <button class="btn btn-primary" id="modal_update_schedule_btn">Oppdater</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}